<p id="notice"><%= notice %></p>

<h1>Listing Articles</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
      <td><%= link_to article.title, article %></td>
        <td><%= link_to 'Show', article %></td>
        <% if user_signed_in? %>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


