<p id="notice"><%= notice %></p>
<% if @article.present? %>
    <div class="col-lg-12">
      <div>
        <h2 class="text-center"><%= @article.title %>
        <% if user_signed_in? %>
        <p><%= link_to 'Edit Article', edit_article_path(@article),:class=>"btn btn-default pull-right" %></p></h2>
        <p>
        <% end %>
                 
        
        <p>
          <strong>Magazine:</strong>
          <%= @article.magazine.title %>
        </p>
        
      </div>
    </div>
    <div class="col-lg-12" id="comment_div">
      <%= render "show_comments" unless @comments.empty? %>
    </div>
    <div class="col-lg-12">
    <% if user_signed_in? %>
      <%= link_to "Comment Article", new_comment_path(:article_id => @article.id),:class => "btn btn-default", :remote => "true" %>
      <% end %>
      <div class="modal fade comment_modal" id="comment_modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="gridSystemModalLabel"><%= "#{@article.title}" %></h4>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row" id="comment_form">
                  <%= render "comments/form" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<% else %>
    <p class="alert alert-error"><%= "Article Not Found" %></p>
<% end %>