<br/>
<div>
  <!-- Default panel contents -->
  <div>Articles</div>
  <div class="panel-body">
    <% if @articles.present? %>
      <ul>
        <% @articles.each do |article|%>
        <li><%= link_to article.title, article %></li>
         
        <% end %>
      </ul>
    <% else %>
      <p> No Articles Found. </p>
    <% end%>
  </div>
  <% if user_signed_in? %>
 <%= link_to "New Article", new_article_path(@magazine) %>
 <% end%>
</div>