<p id="notice"><%= notice %></p>

<% @magazines.each do |magazine| %>
<h2><%= magazine.title %></h2>

<%= link_to 'View Details', magazine, class: "btn btn-default" %>

<%= link_to 'Articles', articles_magazine_path(magazine), class: "btn btn-default" %>
<% end %>