<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @magazine.title %>
</p>
<% if user_signed_in? %>
<%= link_to 'Edit', edit_magazine_path(@magazine) %> |
<%end%> 
<%= link_to 'Back', magazines_path %> 



