<!DOCTYPE html>
<html>
<head>
  <title>PS Magazine</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-default">
<div class="container">

<div class="navbar-header">
<%= link_to "Magazine List", root_path, class: "navbar-brand" %>

</div>
<div class="col-lg-12">
<%= link_to " Sign Up |", new_user_registration_path, class: "pull-right" %> 
<% if user_signed_in? %>
  <%= link_to " Sign Out | ", destroy_user_session_path, method: :delete, class: "pull-right" %>
<% else %>
<%= link_to "Log in | ", new_user_session_path, class: "pull-right" %>
<% end %> 
<% if user_signed_in? %>
  <%= link_to "New Magazine | ", new_magazine_path, class: "pull-right" %>
  <% end %>
</div>

</div>
</div>
<!--
<p class="notice"><%= notice %></p> -->
<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
